.checkout{
    min-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    input{
        // display: block;
    }
}
.orderInfo{
    margin-top: 100px;
}
.deliveryDetails{
    
}
.personalDetails{

}