@import '../../../utils/variables';

.categories {
  margin-top: $gapXL;
  margin-bottom: calc($gapLg + 40px);
}
.menuCategory {
  background-color: $white;
  padding: $gapLg 0px;
  margin-bottom: $gapLg;
}
.menuCards {
  display: grid;
  gap: 16px;
  padding: 0px 80px;
  grid-template-columns: 1fr 1fr;
  @media screen and (max-width: 1260px) {
    grid-template-columns: 1fr;
  }
  @media screen and (max-width:960px){
    padding: 0px $gapXL;
  }
}
.cardsTitle {
  font-size: 24px;
  font-weight: 600;
  color: $primary;
  margin-bottom: $gapMd;
  letter-spacing: 1.5px;
  padding: 0px 80PX;
  @media screen and (max-width:960px){
    padding: 0px $gapXL;
  }
}
.card {
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: $gapMd;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  img {
    border-radius: 6px;
  }
}
.itemTitle {
  font-weight: 600;
  margin-bottom: $gapSm;
}
.itemDescription {
  color: $gray;
  font-size: 14px;
  max-width: 300px;
  max-height: 35px;
  overflow: hidden;
  line-height: 1.3;
}
.itemPrice {
  font-weight: 600;
  position: absolute;
  bottom: $gapMd;
  z-index: -1;
}
.saleOut {
  display: grid;
  place-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  color: $white;
  cursor: not-allowed;
}
