@import '../../utils/variables.scss';
.home {
  display: flex;
  .menu {
    width: calc(100% - 355px);
    @media screen and (max-width:960px){
      width: 100%;
    } ;
  }
  .banner {
    object-fit: cover;
    object-position: canter;
  }
  h2 {
    font-size: 24px;
    font-weight: 600;
    color: $primary;
    margin-bottom: $gapMd;
    letter-spacing: 1.5px;
    padding: 0px 80px;

  }
  .categoryNav {
    position: sticky;
    top: 63px;
    z-index: 1;
    background-color: $white;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.12);
}
  .categoryBtns {
    padding: $gapBase 80px;
    display: flex;
    gap: $gapMd;
    white-space: nowrap;
  }
  .categoryBtn {
    padding: $gapSm $gapMd;
    letter-spacing: 1.5px;
    position: relative;
    cursor: pointer;
    &::after {
      content: '';
      width: 100%;
      height: 2px;
      background-color: $primary;
      position: absolute;
      bottom: 0;
      left: 0;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s ease;
    }
    &:hover::after {
      transform: scaleX(1);
    }
  }
  .noFoodData{
    text-align: center;
    line-height: 15;
  }
}
